<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/icon.ico">
    <link href="../static/styles_functions.css" rel="stylesheet">
    <title>Delete Character</title>
</head>
<main>
    <h2>Delete Character</h2>
    <form method="post" action="/delete_character">
        <ul class="columns-func">
        <li><label for="character_name">Character Name:</label>
            <select id="character_name" name="character_name" style="width: 200px;" required>
                <option value=" " selected hidden></option>
                {% for character in characters %}
                    <option value="{{ character.char_name }}">{{ character.char_name }}</option>
                {% endfor %}
            </select></li>
        </ul>
        <button type="submit">Delete Character</button>
        <br>
        <button onclick="location.href='/delete'" type="button">Go back to deletion</button>
    </form>
</main>
</body>
</html>
