<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/icon.ico">
    <link href="../static/styles_functions.css" rel="stylesheet">
    <title>Delete Terminology</title>
</head>
<body>
<main>
    <h2>Delete Terminology</h2>
    <form method="post" action="/delete_terminology">
        <ul class="columns-func">
            <li><label for="term_name">Term Name:</label>
            <select id="term_name" name="term_name" style="width: 200px;" required>
                <option value=" " selected hidden></option>
                {% for term in terms %}
                    <option value="{{ term.term_name }}">{{ term.term_name }}</option>
                {% endfor %}
            </select></li>
        </ul>
        <button type="submit">Delete Terminology</button>
        <br>
        <button onclick="location.href='/delete'" type="button">Go back to deletion</button>
    </form>
</main>
</body>
</html>
