<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/icon.ico">
    <link href="../static/styles_functions.css" rel="stylesheet">
    <title>All Works</title>
</head>
<body>
<main>
    <h2>Show all works</h2>
    <form method="get" action="{{ url_for('show_all_works_by_universe') }}">
        <ul class="columns-func">
        <li><label for="universe_name">Universe Name:</label>
            <select id="universe_name" name="universe_name" style="width: 200px;" required>
                <option value=" " selected hidden></option>
                {% for universe in universes %}
                    <option value="{{ universe.universe_title }}">{{ universe.universe_title }}</option>
                {% endfor %}
            </select>
        </li></ul>
        <button type="submit">Show Works</button>
    </form>
    {% if works %}
    <h2>List of works:</h2>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {% for work in works %}
                    <tr>
                        <td>{{ work.work_title }}</td>
                        <td><a href="{{ work.link }}">Link.</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="future">No works found for the specified universe.</p>
    {% endif %}
    <button onclick="location.href='/show_all'" type="button">Go back</button>
</main>
</body>
</html>
